{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <h1>TaskFlow</h1>
            <p>Gerenciamento de tarefas em equipe</p>
        </div>
        
        <form  action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nome de usuário</label>
                <input type="text" id="username" name="username" placeholder="Digite seu nome de usuário" required>
            </div>
            
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>
            
            <button type="submit">Entrar</button>
        </form>
        
        <div class="links">
            <p>Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
        </div>
    </div>
</body>
</html>